<div class="side-bar">
  <h1>Daniel Antonio Nolasco Alvarado</h1>
  <h2>Android Developer</h2>

  <div class="menu">
    <div class="item" routerLink="/projects">Projects</div>
    <div class="item" routerLink="/about">About me</div>
    <div class="item">
      <a
        href="https://firebasestorage.googleapis.com/v0/b/portfolio-dnieln7.appspot.com/o/portfolio-project-files%2FCV_A_EN.pdf?alt=media"
        target="_blank">
        Resume - English
      </a>
    </div>
    <div class="item">
      <a
        href="https://firebasestorage.googleapis.com/v0/b/portfolio-dnieln7.appspot.com/o/portfolio-project-files%2FCV_A.pdf?alt=media"
        target="_blank">
        Resume - Spanish
      </a>
    </div>

    <div class="separator"></div>

    <div class="social">
      <a href="mailto:dnieln7@gmail.com"><img alt="gmail" src="../../assets/icons/email-gray.svg"></a>
      <a href="https://github.com/dnieln7" target="_blank"><img alt="github"
                                                                src="../../assets/icons/github-gray.svg"></a>
      <a href="https://www.linkedin.com/in/daniel-alvarado-a9086320b" target="_blank">
        <img alt="linkedin" src="../../assets/icons/linkedin-gray.svg">
      </a>
    </div>
  </div>
</div>
