<div class="banner-container">
  <div class="banner">
    <span class="chip" style="margin-bottom: 0.5em">Daniel Antonio Nolasco Alvarado</span>
    <span class="chip" style="margin-bottom: 0.5em">Android Developer</span>
    <div class="social">
      <a href="mailto:dnieln7@gmail.com"><img alt="gmail" src="../../assets/icons/email.svg"></a>
      <a href="https://github.com/dnieln7" target="_blank"><img alt="github" src="../../assets/icons/github.svg"></a>
      <a href="https://www.linkedin.com/in/daniel-alvarado-a9086320b" target="_blank">
        <img alt="linkedin" src="../../assets/icons/linkedin.svg">
      </a>
    </div>
    <span class="material-icons-round arrow-down">keyboard_arrow_down</span>
  </div>
</div>

<div class="content-container">

  <p class="title">Hi, My name is Daniel!</p>
  <p class="subtitle">
    I am a software engineer with knowledge in Backend, Frontend and Android development, i like using technologies to
    make people life easier at work or in a day to day basics.
    <br><br>
    I like android development and working on teams because that allows me to learn from my teammates and live new
    experiences. I am looking for challenges that help me to be a better Android developer.
  </p>

  <!-- Skills -->

  <div class="skills-container">
    <div class="skills border-custom">
      <div class="skills-header">
        <p class="skill-title">Android</p>
      </div>
      <div class="skills-details">
        <span class="chip-text">Kotlin / Java</span>
        <span class="chip-text">Flutter</span>
        <span class="chip-text">Android Jetpack</span>
        <span class="chip-text">Jetpack Compose</span>
        <span class="chip-text">MVVM</span>
        <span class="chip-text">Testing</span>
        <span class="chip-text">SOLID</span>
      </div>
    </div>

    <div class="skills border-custom">
      <div class="skills-header">
        <p class="skill-title">Back / Front end</p>
      </div>
      <div class="skills-details">
        <span class="chip-text">NodeJS</span>
        <span class="chip-text">Angular</span>
        <span class="chip-text">Spring Boot</span>
        <span class="chip-text">Sequelize</span>
        <span class="chip-text">Docker</span>
        <span class="chip-text">PostgreSQL</span>
      </div>
    </div>

    <div class="skills border-custom">
      <div class="skills-header">
        <p class="skill-title">Other</p>
      </div>
      <div class="skills-details">
        <span class="chip-text">Firebase</span>
        <span class="chip-text">Github</span>
      </div>
    </div>
  </div>

  <!-- Featured Projects -->

  <div class="experience border-custom">
    <div class="exp-header">
      <p>Featured projects</p>
    </div>
    <div class="exp-item">
      <div class="exp-title-container">
        <p class="exp-title">Notify Me</p>
        <p class="exp-date">May 2021</p>
      </div>
      <p class="exp-body">
        An android app that shares notifications between phones.
      </p>
      <div class="exp-links">
        <div class="exp-link">
          <a href="https://play.google.com/store/apps/details?id=com.dnieln7.notifyme" target="_blank">
            App download
          </a>
          <span class="material-icons-round">android</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Academic history -->

  <div class="experience border-custom">
    <div class="exp-header">
      <p>Academic history</p>
    </div>
    <div class="exp-item">
      <div class="exp-title-container">
        <p class="exp-title">Bachelor of Software Engineering - Universidad Veracruzana</p>
        <p class="exp-date">2017 - 2021</p>
      </div>
    </div>
  </div>

  <!-- Certifications -->

  <div class="experience border-custom">
    <div class="exp-header">
      <p>Certifications</p>
    </div>
    <div class="exp-item">
      <div class="exp-title-container">
        <p class="exp-title">Azure Fundamentals</p>
        <p class="exp-date">April 2021</p>
      </div>
      <p class="exp-body">
        Certification on azure fundamentals (AZ-900).
      </p>
      <div class="exp-links">
        <div class="exp-link">
          <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-dnieln7.appspot.com/o/portfolio-project-files%2Faz-900-cert.pdf?alt=media"
             target="_blank">
            File download
          </a>
          <span class="material-icons-round">file_download</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Honors -->

  <div class="experience border-custom">
    <div class="exp-header">
      <p>Honors</p>
    </div>
    <div class="exp-item">
      <div class="exp-title-container">
        <p class="exp-title">Quantum HackMx - Tecnológico de monterrey</p>
        <p class="exp-date">April 2021</p>
      </div>
      <p class="exp-body">
        First place IBM challenge with E-Voting, a solution to take the mexican elections to the digital era focusing on
        election fraud.
      </p>
      <div class="exp-links">
        <div class="exp-link">
          <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-dnieln7.appspot.com/o/portfolio-project-files%2Fhackmx-2021.pdf?alt=media"
             target="_blank">
            File download
          </a>
          <span class="material-icons-round">file_download</span>
        </div>
      </div>
    </div>
  </div>

  <div style="height: 15vh"></div>
</div>
